USE [master]
GO
/****** Object:  Database [DGRE]    Script Date: 3/21/2023 10:39:24 AM ******/
CREATE DATABASE [DGRE]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'DGRE', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL15.SQLEXPRESS\MSSQL\DATA\DGRE.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'DGRE_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL15.SQLEXPRESS\MSSQL\DATA\DGRE_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [DGRE].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [DGRE]
GO
/****** Object:  Table [dbo].[log]    Script Date: 3/21/2023 10:39:24 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[log](
	[log_id] [int] NOT NULL,
	[date_time_milsec] [int] NOT NULL,
	[date_time_sec] [int] NOT NULL,
	[date_time_min] [int] NOT NULL,
	[date_time_hour] [int] NOT NULL,
	[date_time_day] [int] NOT NULL,
	[date_time_week] [int] NOT NULL,
	[date_time_year] [int] NOT NULL,
 CONSTRAINT [PK_log] PRIMARY KEY CLUSTERED 
(
	[log_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Log_to_Project]    Script Date: 3/21/2023 10:39:24 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Log_to_Project](
	[Project_Id] [int] NOT NULL,
	[Log_Id] [int] NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Project]    Script Date: 3/21/2023 10:39:24 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Project](
	[Project_Id] [int] NOT NULL,
 CONSTRAINT [PK_Project] PRIMARY KEY CLUSTERED 
(
	[Project_Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[User_Info]    Script Date: 3/21/2023 10:39:24 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[User_Info](
	[Name_of_user] [nchar](10) NOT NULL,
	[Username] [nchar](10) NOT NULL,
	[User_Id] [int] NOT NULL,
 CONSTRAINT [PK_User_Info] PRIMARY KEY CLUSTERED 
(
	[User_Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[User_to_Project]    Script Date: 3/21/2023 10:39:24 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[User_to_Project](
	[User_Id] [int] NOT NULL,
	[Project_Id] [int] NOT NULL
) ON [PRIMARY]
GO
ALTER TABLE [dbo].[Log_to_Project]  WITH CHECK ADD  CONSTRAINT [FK_Log_to_Project_log] FOREIGN KEY([Log_Id])
REFERENCES [dbo].[log] ([log_id])
GO
ALTER TABLE [dbo].[Log_to_Project] CHECK CONSTRAINT [FK_Log_to_Project_log]
GO
ALTER TABLE [dbo].[Log_to_Project]  WITH CHECK ADD  CONSTRAINT [FK_Log_to_Project_Project] FOREIGN KEY([Project_Id])
REFERENCES [dbo].[Project] ([Project_Id])
GO
ALTER TABLE [dbo].[Log_to_Project] CHECK CONSTRAINT [FK_Log_to_Project_Project]
GO
ALTER TABLE [dbo].[User_to_Project]  WITH CHECK ADD  CONSTRAINT [FK_User_to_Project_Project] FOREIGN KEY([Project_Id])
REFERENCES [dbo].[Project] ([Project_Id])
GO
ALTER TABLE [dbo].[User_to_Project] CHECK CONSTRAINT [FK_User_to_Project_Project]
GO
ALTER TABLE [dbo].[User_to_Project]  WITH CHECK ADD  CONSTRAINT [FK_User_to_Project_User_Info] FOREIGN KEY([User_Id])
REFERENCES [dbo].[User_Info] ([User_Id])
GO
ALTER TABLE [dbo].[User_to_Project] CHECK CONSTRAINT [FK_User_to_Project_User_Info]
GO
USE [master]
GO
